@import "../../../style/variable.scss";

.h-form-item {
  display: flex;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  .h-form-item__label{
    text-align: right;
    width: 100px;
    background-color: #F7F7F7;
    box-sizing: border-box;
    padding: 0px 12px;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
  }
  .h-form-item__content{
    flex: 1;
    box-sizing: border-box;
    padding: 0px 12px;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
  }
}

.h-form-item__edit {
  flex-direction: column;
  height: auto;
  line-height: 32px;
  margin-bottom: 12px;
  box-sizing: border-box;
  padding: 0 12px;
  .h-form-item__label {
    text-align: left;
    width: 100px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 0;
    border: none;
  }
  .h-form-item__content{
    border: none;
    padding: 0;
  }

  &.required {
    > .h-form-item__label::before {
      content: "*";
      color: $h-danger;
      margin-right: 4px;
    }
  }
}