.h-tree {
  &-checkbox__inner{
    // position: absolute;
    // left: 0;
    // top: 8px;
    width: 14px;
    height: 14px;
    background-color: #0075ff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
  }
  input[type=checkbox] {
    width: 14px;
    height: 14px;
    &::after {
      background-color: red;
    }
  }
  .h-tree__node {
    &--content {
      display: flex;
      align-items: center;
      text-align: left;
      border: 1px solid transparent;
    }
    &--drop-inner {
      border: 1px solid silver;
    }
    &--drop-next {
      border-bottom: 1px solid silver;
    }
    &--drop-prev {
      border-top: 1px solid silver;
    }
  }
}
